/* Google fontes used */
/* font-family: 'Baloo Chettan', cursive; */
/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Special Elite', cursive; */


body {
    background-image: url('../images/background.jpg');
    /* font-family: */
}

/* button {
    font-family:

} */

/* h3 {
    font-family:
} */

/* #triviaHeader {
    font-family:
        font-size:
} */

.bg-container {
    min-height: 250px;
    min-width: 250px;
    background-color: rgba(255, 255, 0, 0.75);
}

/* Style for footer that will show current city Adriano Apr 14 2019 */
.footer h6{
    position: fixed;
    right: 10px;
    bottom: 2px;
    width: 25%;
    font-size: 2rem;
    text-align: center;
}

/* .btn {
    font-size:
} */

.invisible {
    display: none;
}