/* Google fontes used */

/* 
font-family: 'Vesper Libre', serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Luckiest Guy', cursive; 


colors
https://colorhunt.co/palette/142059

#ffc15e rgb(255, 193, 94, 0.75)
#8158fc
#692db7
#34314f

*/

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    font-family: 'Vesper Libre', serif;
}

button, .btn {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    background-color: #692db7;
}

/* h1 */

.startHeader {
    position: relative;
    font-size: 5rem;
    font-family: 'Luckiest Guy', cursive;
    color: #34314f;
}

.startHeader span {
    position: absolute;
    font-size: 5rem;
    font-family: 'Luckiest Guy', cursive;
    color: #692db7;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(50%, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 1)));
}

.startHeader:after {
    content: 'Smart Trivia';
    color: #000000;
    text-shadow: 0 2px 0 red;
}

.bg-container {
    min-height: 250px;
    min-width: 250px;
    background-color: rgb(255, 193, 94, 0.75);
}

/* Style for footer that will show current city Adriano Apr 14 2019 */
.footer h6{
    position: fixed;
    right: 10px;
    bottom: 2px;
    width: 25%;
    font-size: 2rem;
    text-align: center;
}

/* .btn {
    font-size:
} */

.invisible {
    display: none;
}

/* #triviaHeader {
    color: #f25d9c;
} */

/* //////////////// Style for Card With Scores /////////////////////// */
.card-header{
    background-color: #692db7;
    font-family: 'Luckiest Guy',cursive;
}

.score-card{
    background-color: rgba(255, 255, 200, 0.15);
    color: white;
    font-size: 1rem;
}
/* //////////////////////////////////////////////////////////////////// */