/* Google fontes used */
/* font-family: 'Baloo Chettan', cursive; */
/* font-family: 'Luckiest Guy', cursive; */
/* font-family: 'Special Elite', cursive; */

/*
body {
    background-image: 
    font-family: 
}

button {
    font-family:
    
}

h3 {
    font-family: 
}

#triviaHeader {
    font-family: 
    font-size: 
}

.bg-container {
    min-height: 
    min-width: 
    background-color:rgba(255,255, 0, 0.75);

}

.btn {
    font-size: 
}

.invisible{
}
*/
